<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addProductForm" (ngSubmit)="submitForm();">
    <mat-card class="add-product-card">
        <mat-card-header>
          <mat-card-title class="add-product-title">New product</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">

          <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Product Name" formControlName="Product name"
                  required>
            <mat-error *ngFor="let validation of addProductValidationMessages.product_name">
              <mat-error class="error-message" data-test="product_nameError"
                        *ngIf="addProductForm.get('Product name').hasError(validation.type) && (addProductForm.get('Product name').dirty || addProductForm.get('Product name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="product description"
                  formControlName="description" !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.description">
              <mat-error class="error-message" data-test="descriptionError"
                        *ngIf="addProductForm.get('description').hasError(validation.type) && (addProductForm.get('description').dirty || addProductForm.get('description').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Brand</mat-label>
            <input matInput placeholder="Product Brand" formControlName="brand"
                  required>
            <mat-error *ngFor="let validation of addProductValidationMessages.brand">
              <mat-error class="error-message" data-test="brandError"
                        *ngIf="addProductForm.get('brand').hasError(validation.type) && (addProductForm.get('brand').dirty || addProductForm.get('brand').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Category</mat-label>
            <mat-select required formControlName="category">
              <mat-option value="bakery">Bakery</mat-option>
              <mat-option value="produce">Produce</mat-option>
              <mat-option value="meat">Meat</mat-option>
              <mat-option value="dairy">Dairy</mat-option>
              <mat-option value="frozen foods">Frozen Foods</mat-option>
              <mat-option value="canned goods">Canned Goods</mat-option>
              <mat-option value="drinks">Drinks</mat-option>
              <mat-option value="general grocery">General Grocery</mat-option>
              <mat-option value="miscellaneous">Miscellaneous</mat-option>
              <mat-option value="seasonal">Seasonal</mat-option>
            </mat-select>
            <mat-error *ngIf="addProductForm.get('category').hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="addProductForm.get('category').hasError('pattern') && !addProductForm.get('category').hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Store</mat-label>
            <input matInput placeholder="Product Store" formControlName="store"
                  required>
            <mat-error *ngFor="let validation of addProductValidationMessages.store">
              <mat-error class="error-message" data-test="storeError"
                        *ngIf="addProductForm.get('store').hasError(validation.type) && (addProductForm.get('store').dirty || addProductForm.get('store').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Location</mat-label>
            <input matInput placeholder="Product Location" formControlName="location"
                    !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.location">
              <mat-error class="error-message" data-test="locationError"
                        *ngIf="addProductForm.get('location').hasError(validation.type) && (addProductForm.get('location').dirty || addProductForm.get('location').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Notes</mat-label>
            <input matInput placeholder="Product Notes" formControlName="notes"
                    !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.notes">
              <mat-error class="error-message" data-test="notesError"
                        *ngIf="addProductForm.get('notes').hasError(validation.type) && (addProductForm.get('notes').dirty || addProductForm.get('notes').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Tags</mat-label>
            <input matInput placeholder="Product Tags" formControlName="tags"
                    !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.tags">
              <mat-error class="error-message" data-test="tagsError"
                        *ngIf="addProductForm.get('tags').hasError(validation.type) && (addProductForm.get('tags').dirty || addProductForm.get('tags').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Lifespan</mat-label>
            <input matInput type="number" placeholder="Product Lifespan"
                  formControlName="lifespan"
                  !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.lifespan">
              <mat-error class="error-message" data-test="lifespanError"
                        *ngIf="addProductForm.get('lifespan').hasError(validation.type) && (addProductForm.get('lifespan').dirty || addProductForm.get('lifespan').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Product Threshold</mat-label>
            <input matInput type="number" placeholder="Product Threshold"
                  formControlName="threshold"
                  !required>
            <mat-error *ngFor="let validation of addProductValidationMessages.threshold">
              <mat-error class="error-message" data-test="thresholdError"
                        *ngIf="addProductForm.get('threshold').hasError(validation.type) && (addProductForm.get('threshold').dirty || addProductForm.get('threshold').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addProductForm.valid"
            type="submit"
            data-test="confirmAddProductButton"
          >
            ADD PRODUCT
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>
