<div fxLayout="column">
  <div fxLayout="row">
    <div class="shopping-item-search" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

      <mat-card class="search-card">
        <mat-card-title class="shoppingList-list-title">Shopping List</mat-card-title>
        <mat-card-content fxLayout="column">
          <div fxLayout="row wrap" fxLayoutGap="10px">

            <mat-nav-list class="add-product-nav-list">
              <h3>Add a product to your shopping list</h3>
              <div>
                <mat-form-field class="input-field">
                  <mat-label>Product Name</mat-label>
                  <input matInput data-test="product_nameInput" placeholder="Search for a product" [(ngModel)]="name"
                    (input)="updateFilter()">
                </mat-form-field>
              </div>

              <div *ngIf="activeFilters">
                <!--
                We need to add a router link to the pop-up message for adding a product to the pantry that
                Collin made.
                -->
                <mat-list-item *ngFor="let product of this.filteredProducts" class="add-product-list-item"
                  data-test="addProductListItem">
                  <div style="padding-right: 20px;">
                    <button mat-raised-button color="accent" class="add-product-button" matTooltip="Add Product" matTooltipPosition="left"
                      (click)="openAddDialog(this.product)" data-test="addProductButton">
                      <mat-icon aria-label="Add Product">add</mat-icon>
                    </button>
                  </div>
                    <p class="add-product-list-name" style="padding-right: 20px;">{{product.product_name}}</p>
                </mat-list-item>
              </div>
            </mat-nav-list>

          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="shoppingList-list">
    <div fxLayout="row wrap">
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="getItemsFromServer; else shoppingListError">

        <mat-card>
          <mat-card-content>
            <mat-nav-list class="shoppingList-list">
              <h3 mat-subheader>Items</h3>
              <span fxLayout="row" *ngFor="let shoppingList of this.filteredShoppingList">
                <a mat-list-item class="shoppingList-list-item">
                  <h3 matLine class="shoppingList-list-name">{{shoppingList.name}}</h3>
                  <p matLine class="shoppingList-list-description">Need to buy {{shoppingList.quantity}}</p>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-item-button" matTooltip="Delete Item" matTooltipPosition="left"
                    (click)="openDeleteDialog(shoppingList)" data-test="deleteItemButton">
                    <mat-icon aria-label="Delete Item">close</mat-icon>
                  </button>
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeItem(tempID)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <ng-template #shoppingListError>
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="shoppingList-error">
        <mat-error>
          There was a problem loading the shoppingList. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again.
        </mat-error>
      </div>
    </ng-template>
  </div>
</div>
