  <div class="content">
    <form [formGroup]="addToPantryForm" (ngSubmit)="submitForm();">
      <mat-card class="add-to-pantry-card">
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <mat-label>Date Added to Pantry</mat-label>
            <input matInput placeholder="dd-mm-yyyy" formControlName="purchase_date"
                  required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Pantry Item Notes</mat-label>
            <input matInput placeholder="Pantry Item Notes" formControlName="notes"
                  required>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            type="submit"
            data-test="confirmAddProductToPantryButton"
          >
            Add Product To Pantry
          </button>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>
