<mat-card class="product-card" style="margin: 16px" *ngIf="this.product">
  <div fxLayout="row" >
    <div style="padding: 16px;">
      <mat-card-header>
        <mat-card-title class="product-card-name">{{ this.product.product_name }}</mat-card-title>
        <mat-card-subtitle class="product-card-brand">{{ this.product.brand }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-md-image [src]="this.product.image" class="product-image" *ngIf="this.product.image">
      <mat-card-header>
        <mat-card-subtitle class="product-card-store">{{ this.product.store }}</mat-card-subtitle>
        <mat-card-subtitle class="product-card-location">{{ this.product.location }}</mat-card-subtitle>
      </mat-card-header>
    </div>

    <mat-card-content style="margin: 16px">
      <p> Category: <span class="product-card-category">{{ this.product.category }}</span></p>
      <p> Description: <span class="product-card-description">{{ this.product.description }}</span></p>
      <p> Notes: <span class="product-card-notes">{{ this.product.notes }}</span></p>
      <p> Tags: <span class="product-card-tags">{{ this.product.tags }}</span></p>
      <p> Lifespan: <span class="product-card-lifespan">{{ this.product.lifespan }}</span></p>
      <p> Threshold: <span class="product-card-threshold">{{ this.product.threshold }}</span></p>
    </mat-card-content>
  </div>
  <mat-card-actions class="add-to-pantry">
    <button color="primary" mat-raised-button type="button" (click)="popup = true" data-test="addToPantryButton"> Add Product To Pantry</button>
  </mat-card-actions>
</mat-card>

<div class="overlay" *ngIf="popup">
  <div class="popup">
      <h2>Add This Product to Your Pantry</h2>
      <a class="close" (click)="popup = false">&times;</a>
      <div class="content">
        <form [formGroup]="addToPantryForm" (ngSubmit)="submitForm();">
          <mat-card class="add-to-pantry-card">
            <mat-card-content fxLayout="column">
              <mat-form-field>
                <mat-label>Date Added to Pantry</mat-label>
                <input matInput placeholder="Date Added to Pantry" formControlName="purchase_date"
                      required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Pantry Item Notes</mat-label>
                <input matInput placeholder="Pantry Item Notes" formControlName="notes"
                      required>
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
              <button
                mat-button
                type="button"
                color="primary"
                type="submit"
                data-test="confirmAddProductToPantryButton"
              >
                Add Product To Pantry
              </button>
            </mat-card-actions>

          </mat-card>
        </form>
      </div>
  </div>
</div>
