<mat-card class="product-card" *ngIf="this.product">
  <div>
    <mat-card-header>
      <mat-card-title class="product-card-name">{{this.product.product_name}}</mat-card-title>
    </mat-card-header>
    <hr>
  </div>
  <mat-card-content  class="cardInfo">
    <b>Brand:</b>
    <p class="product-card-brand">{{this.product.brand}}</p>
    <b>Store:</b>
    <p class="product-card-store">{{this.product.store}}</p>
    <b>Category:</b>
    <p class="product-card-category">{{this.product.category}}</p>
    <b>Location:</b>
    <p class="product-card-location">{{this.product.location}}</p>
    <b>Lifespan:</b>
    <p class="product-card-lifespan">{{this.product.lifespan}}</p>
    <b>Threshold:</b>
    <p class="product-card-threshold">{{this.product.threshold}}</p>

    <form [formGroup]="changeProductForm" (ngSubmit)="submitForm();">
    <div>
      <mat-form-field>
        <mat-label>Threshold</mat-label>
        <input matInput placeholder="Threshold" formControlName="threshold" data-test="thresholdInput">
        <mat-error *ngFor="let validation of changeProductFormMessages.threshold">
          <mat-error class="error-message" data-test="thresholdError"
            *ngIf="changeProductForm.get('threshold').hasError(validation.type) && (changeProductForm.get('threshold').dirty || changeProductForm.get('threshold').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-card-actions align="start">
      <button mat-button type="button" color="primary" [disabled]="!changeProductForm.valid" type="submit"
        data-test="confirmChange">
        Change Product
      </button>
    </mat-card-actions>
  </form>

    <div>
      <b>Description:</b>
      <p class="product-card-description">{{this.product.description}}</p>
    </div>
    <div>
      <b>Notes:</b>
      <p class="product-card-notes">{{this.product.notes}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="add-to-pantry">
    <button color="primary" mat-raised-button type="button" (click)="popup = true" data-test="addToPantryButton"> Add
      Product To Pantry</button>
  </mat-card-actions>
</mat-card>

<div class="overlay" *ngIf="popup">
  <div class="popup">
    <h2>Add This Product to Your Pantry</h2>
    <a class="close" (click)="popup = false">&times;</a>
    <app-add-product-to-pantry [product]="this.product"></app-add-product-to-pantry>
  </div>
</div>
