<div fxLayout="column">
  <div fxLayout="row">
    <div class="product-search" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="getUnfilteredProducts; else productError">
      <mat-card>
        <mat-card-content>
          <mat-nav-list class="add-product-nav-list">
            <h3 mat-subheader>Search for a product</h3>
            <div>
              <mat-form-field class="input-field">
                <mat-label>Product Name</mat-label>
                <input matInput data-test="product_nameInput" placeholder="Search for a product" [(ngModel)]="name"
                  (input)="updateFilter()">
              </mat-form-field>
            </div>

            <div *ngIf="activeFilters">
              <!--
              We need to add a router link to the pop-up message for adding a product to the pantry that
              Collin made.
            -->
              <mat-list-item *ngFor="let product of this.filteredProducts" class="add-product-list-item"
              data-test="addProductListItem">
                <p matLine class="add-product-list-name">{{product.product_name}}</p>
                  <div *ngIf="!popup" class="addContainer" style="position: absolute; margin-left: 400px">
                    <button mat-raised-button class="add-product-button" matTooltip="Add Product"
                      matTooltipPosition="left" (click)="popup = true"
                      data-test="addProductButton">
                      <mat-icon aria-label="Add Product">add</mat-icon>
                    </button>
                  </div>
                  <div class="overlay" *ngIf="popup">
                    <div class="popup">
                      <h2>Add This Product to Your Pantry</h2>
                      <a class="close" (click)="popup = false">&times;</a>
                      <app-add-product-to-pantry [product]="this.product"></app-add-product-to-pantry>
                    </div>
                  </div>
              </mat-list-item>
            </div>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="pantry-list" *ngIf="!popup">
    <!-- Card at the top of page that a user enters search queries into -->
    <!-- <mat-card class="search-card">
    </mat-card> -->

    <!-- Page Break to separate List and Search cards  -->
    <!-- <br> -->
    <div fxLayout="row wrap">
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="getPantryItemsFromServer; else pantryError">

        <!-- List view -->
        <mat-card>
          <mat-card-content>
            <mat-nav-list class="pantry-nav-list">
              <h3 mat-subheader>Pantry Items  ({{this.lengthItems}})</h3>
              <a mat-list-item *ngFor="let pantryItem of this.pantryProducts"
                class="pantry-list-item" data-test="pantryListItem">
                <h2 matLine class="pantry-list-name">{{pantryItem.name}}</h2>
                <h4 matLine class="item-category">{{pantryItem.category}}</h4>
                <h4 matLine class="pantry-list-date">{{pantryItem.purchase_date}}</h4>
                <p matLine class="pantry-list-notes">{{pantryItem.notes}}</p>
              </a>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div>
     <!-- All Products separated into categories and listed in dropdowns -->
     <mat-card class="expansion-product-panels">
      <mat-card-content>
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Baked Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="baked-goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.bakedGoodsItems">
                <a mat-list-item class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="pantryItem-list-date">{{item.purchase_date}}</p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Produce
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="produce-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.produceItems">
                <a mat-list-item class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Meat
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="meat-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.meatItems">
                <a mat-list-item class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dairy
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="dairy-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.dairyItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Frozen Foods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="frozen-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.frozenItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Paper Products
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="canned-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.paperItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Beverages
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="drink-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.beverageItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pet Supplies
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="general-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.petSuppliesItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Deli
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="seasonal-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.deliItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Miscellaneous Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.miscellaneousItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Herbs and Spices
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.herbItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Baking Supplies
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.bakingSuppliesItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Toiletries
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.toiletriesItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Staples
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.stapleItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cleaning Products
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Baked Goods-product-nav-list">
              <span fxLayout="row" *ngFor="let item of this.cleaningItems">
                <a mat-list-item  class="product-list-item">
                  <p matLine class="product-list-name"> {{item.name}} </p>
                  <p matLine class="product-list-category"> {{item.category}} </p>
                  <p matLine class="product-list-store"> {{item.purchase_date}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <!-- <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template> -->
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>

  </div>
  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #pantryError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="pantry-error">
      <mat-error>
        There was a problem loading the pantry. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>

  <ng-template #productError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="product-error">
      <mat-error>
        There was a problem loading the products. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>
