<div fxLayout="column">
  <div fxLayout="row">
    <div class="product-search" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10"
      *ngIf="getUnfilteredProducts; else productError">
      <mat-card>
        <h1 mat-header>My Pantry!</h1>
        <mat-card-content fxLayout="row wrap">
          <div fxLayout="row wrap" fxLayoutGap="15px" style="padding-right: 30%;">
            <div>
              <h3 style="padding-top: 10px;">Filter Your Pantry</h3>
              <mat-form-field class="Pantry-name-input-field">
                <mat-label>Item Name</mat-label>
                <input matInput data-test="pantry_nameInput" placeholder="Filter items by name" [(ngModel)]="ItemName"
                  (input)="updateItemFilter()">
                <mat-hint>Filtered on client</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <mat-nav-list class="add-product-nav-list">
            <h3>Add a product to the pantry</h3>
            <div>
              <mat-form-field class="input-field">
                <mat-label>Product Name</mat-label>
                <input matInput data-test="product_nameInput" placeholder="Search for a product" [(ngModel)]="name"
                  (input)="updateFilter()">
              </mat-form-field>
            </div>

            <div *ngIf="activeFilters">
              <!--
              We need to add a router link to the pop-up message for adding a product to the pantry that
              Collin made.
              -->
              <mat-list-item *ngFor="let product of this.filteredProducts" class="add-product-list-item"
                data-test="addProductListItem">
                <div style="padding-right: 20px;">
                  <button mat-raised-button color="accent" class="add-product-button" matTooltip="Add Product" matTooltipPosition="left"
                    (click)="openAddDialog(this.product)" data-test="addProductButton">
                    <mat-icon aria-label="Add Product">add</mat-icon>
                  </button>
                </div>
                  <p class="add-product-list-name" style="padding-right: 20px;">{{product.product_name}}</p>
              </mat-list-item>
            </div>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="pantry-list" *ngIf="!popup">
    <!-- Card at the top of page that a user enters search queries into -->
    <!-- <mat-card class="search-card">
    </mat-card> -->

    <!-- Page Break to separate List and Search cards  -->
    <!-- <br> -->
    <div fxLayout="row wrap">
      <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="getItemsFromServer; else pantryError">

        <!-- List view -->
        <mat-card>
          <mat-card-content>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="pantry-items-expansion-panel">
                <mat-panel-title>
                  Pantry Items ({{this.filteredPantryProducts.length}})
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list class="filtered-pantry-nav-list">
                <span fxLayout="row" *ngFor="let item of this.filteredPantryProducts">
                  <a mat-list-item class="product-list-item">
                    <p matLine class="product-list-name"> {{item.name}} </p>
                    <p matLine class="product-list-category"> Category: {{item.category}} </p>
                    <p matLine class="pantryItem-list-quantity">Quantity: {{item.quantity }} </p>
                    <mat-divider></mat-divider>
                  </a>
                  <div class="deleteContainer" style="position: absolute;">
                    <button mat-icon-button class="delete-item-button" matTooltip="Delete Item"
                      matTooltipPosition="left" (click)="openDeleteDialog(item.name, item._id, item.product)"
                      data-test="deleteItemButton">
                      <mat-icon aria-label="Delete Item">close</mat-icon>
                    </button>

                    <ng-template #dialogRef let-mydata>
                      <h1 mat-dialog-title>Delete Product?</h1>
                      <div mat-dialog-content>
                        <h4>which <i>{{tempName}}</i> do you want to delete? This action cannot be undone</h4>

                        <mat-list class="delete-dates">
                          <span fxLayout="row" *ngFor="let item of this.filteredPantryItems">
                            <a mat-list-item class="product-list-item">
                              <p matLine class="pantry-item-date"> {{item.purchase_date | date:' dd/MM/yyyy'}} </p>

                              <mat-divider></mat-divider>
                            </a>
                            <div class="deleteContainer" style="position: absolute;">

                            </div>
                            <div style="padding-top: 10px;" mat-dialog-actions>
                              <div style="padding-top: 5px;"><button mat-button color="warn" (click)="removeItem(item._id)">Delete</button></div>
                              <div><button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button></div>
                            </div>
                          </span>
                        </mat-list>
                      </div>
                    </ng-template>
                  </div>
                </span>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div *ngIf="!popup" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
      <!-- All Products separated into categories and listed in dropdowns -->
      <mat-card class="expansion-product-panels">
        <mat-card-content>
          <mat-accordion>

            <mat-expansion-panel *ngFor="let productCategory of (this.categoryNameMap | keyvalue)">
              <mat-expansion-panel-header [ngClass]="productCategory.key.replace(' ', '-') + '-pantry-expansion-panel'">
                <mat-panel-title>
                  {{ productCategory.key | titlecase }} ({{productCategory.value.length}})
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list [ngClass]="productCategory.key.replace(' ', '-') + '-pantry-nav-list'">
                <span fxLayout="row" *ngFor="let item of productCategory.value">
                  <a mat-list-item class="product-list-item">
                    <p matLine class="product-list-name"> {{item.name | titlecase}} </p>
                    <p matLine class="product-list-category"> Category: {{item.category | titlecase}} </p>
                    <p matLine class="pantryItem-list-quantity">Quantity: {{item.quantity}}
                    </p>
                    <mat-divider></mat-divider>
                  </a>
                  <div class="deleteContainer" style="position: absolute;">
                    <button mat-icon-button class="delete-item-button" matTooltip="Delete Item"
                      matTooltipPosition="left" (click)="openDeleteDialog(item.name, item._id, item.product)"
                      data-test="deleteItemButton">
                      <mat-icon aria-label="Delete Item">close</mat-icon>
                    </button>

                    <ng-template #dialogRef let-mydata>
                      <h1 mat-dialog-title>Delete Product?</h1>
                      <div mat-dialog-content>
                        <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                      </div>
                      <div mat-dialog-actions>
                        <button mat-button color="warn" (click)="removeItem(item._id)">Delete</button>
                        <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                      </div>
                    </ng-template>
                  </div>
                </span>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <ng-template #pantryError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="pantry-error">
      <mat-error>
        There was a problem loading the pantry. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>

  <ng-template #productError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="product-error">
      <mat-error>
        There was a problem loading the products. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>

</div>
