<!-- Form Fields and Search Bar ('Top' Content) -->
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="user-list-title">Products</mat-card-title>
      <mat-card-content fxLayout="column" >

        <!-- Form Field Container -->
        <div fxLayout="row wrap" fxLayoutGap="15px" style="margin-right: 15px;">
          <mat-form-field class="input-field">
            <mat-label>Product Name</mat-label>
            <input matInput data-test="product_nameInput" placeholder="Filter products by name"
            [(ngModel)]="name" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Brand</mat-label>
            <input matInput data-test="productBrandInput" placeholder="Filter products by brand"
            [(ngModel)]="productBrand" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <!-- Selector/Tree Container -->
        <div fxLayout="row wrap" fxLayoutGap="15px">
          <mat-form-field class="input-field">
            <mat-label>Store</mat-label>
            <mat-select (selectionChange)="getProductsFromServer()" [(ngModel)]="productStore" data-test="productStoreSelect">
              <mat-option>--</mat-option>
              <mat-option value="Willies">Willies</mat-option>
              <mat-option value="Pomme de Terre">Pomme de Terre </mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="getProductsFromServer()" [(ngModel)]="productCategory" data-test="productCategorySelect">
              <mat-option>--</mat-option>
              <mat-option value="bakery">Bakery</mat-option>
              <mat-option value="produce">Produce</mat-option>
              <mat-option value="meat">Meat</mat-option>
              <mat-option value="dairy">Dairy</mat-option>
              <mat-option value="frozen foods">Frozen Foods</mat-option>
              <mat-option value="canned goods">Canned Goods</mat-option>
              <mat-option value="drinks">Drinks</mat-option>
              <mat-option value="miscellaneous">Miscellaneous</mat-option>
              <mat-option value="seasonal">Seasonal</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <br>

        <!-- Product Limit Container -->
        <!-- <div fxLayout="row wrap" fxLayoutGap="10px" class="limitContainer">
          <mat-form-field class="input-field">
            <mat-label>Limit</mat-label>
            <mat-select (selectionChange)="updateFilter()" [(ngModel)]="productLimit" data-test="productLimitSelect">
              <mat-option>--</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="10000">ALL</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

      </mat-card-content>
    </mat-card>

  </div>
</div>

<!-- Product List ('Bottom' Content) -->
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredProducts; else productsError" style="width: 90%;">
    <mat-card  *ngIf="activeFilters" class="conditional-product-list">
      <mat-card-content>
        <mat-nav-list class="filtered-product-nav-list">
          <span fxLayout="row" *ngFor="let product of this.filteredProducts">
            <a mat-list-item [routerLink]="['/products', product._id]" class="filtered-product-list-item">
              <p matLine class="product-list-name"> {{product.product_name}} </p>
              <p matLine class="product-list-brand"> {{product.brand}} </p>
              <p matLine class="product-list-category"> {{product.category}} </p>
              <p matLine class="product-list-store"> {{product.store}} </p>
              <mat-divider></mat-divider>
            </a>
            <div class="deleteContainer" style="position: absolute;">
              <button mat-icon-button class="delete-product-button"
                                      matTooltip="Delete Product"
                                      matTooltipPosition="left"
                                      (click)="openDeleteDialog(product.product_name, product._id)"
                                      data-test="deleteProductButton">
                <mat-icon aria-label="Delete Product">close</mat-icon>
              </button>
              <!-- Dialog Template -->
            <ng-template #dialogRef let-mydata>
              <h1 mat-dialog-title>Delete Product?</h1>
              <div mat-dialog-content>
                <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
              </div>
              <div mat-dialog-actions>
                <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
              </div>
            </ng-template>
            </div>
          </span>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

    <!-- All Products separated into categories and listed in dropdowns -->
    <mat-card class="expansion-product-panels">
      <mat-card-content>
        <mat-accordion>

          <mat-expansion-panel class="bakery-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bakery Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="bakery-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.bakeryProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="produce-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Produce
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="produce-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.produceProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="meat-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Meat
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="meat-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.meatProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel  class="dairy-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dairy
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="dairy-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.dairyProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="frozen-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Frozen Foods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="frozen-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.frozenProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="canned-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Canned Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="canned-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.cannedProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="drink-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Drinks
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="drink-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.drinkProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="general-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                General Grocery
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="general-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.generalProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="seasonal-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Seasonal Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="seasonal-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.seasonalProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="miscellaneous-product-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Miscellaneous Goods
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="miscellaneous-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.miscellaneousProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button"
                                          matTooltip="Delete Product"
                                          matTooltipPosition="left"
                                          (click)="openDeleteDialog(product.product_name, product._id)"
                                          data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                <ng-template #dialogRef let-mydata>
                  <h1 mat-dialog-title>Delete Product?</h1>
                  <div mat-dialog-content>
                    <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                  </div>
                  <div mat-dialog-actions>
                    <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                  </div>
                </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>

        <!-- <mat-nav-list class="product-nav-list">
          <h3 mat-subheader>Product List</h3>
          <a mat-list-item *ngFor="let product of this.filteredProducts" [routerLink]="['/products', product._id]" class="product-list-item">
            <h3 matLine class="product-list-name"> {{product.product_name}} </h3>
            <p matLine class="product-list-category"> {{product.category}} </p>
            <p matLine class="product-list-brand"> {{product.brand}} </p>
            <mat-divider></mat-divider>
          </a>
        </mat-nav-list> -->
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #productsError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="product-error">
      <mat-error>
        There was a problem loading the products. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>

</div>

<!-- Add Product Button -->
<button mat-fab class="add-product-fab" matTooltip="Add Product" matTooltipPosition="left" routerLink="/products/new" data-test="addProductButton">
  <mat-icon class="md-24" aria-label="Add Product">add</mat-icon>
</button>
