<!-- Form Fields and Search Bar ('Top' Content) -->
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card" fxLayout="row">
      <mat-card-content fxLayout="column">
        <mat-card-title class="user-list-title">Products</mat-card-title>
        <!-- Form Field Container -->
        <div fxLayout="row wrap" fxLayoutGap="15px" style="margin-right: 15px;">
          <mat-form-field class="input-field">
            <mat-label>Product Name</mat-label>
            <input matInput data-test="product_nameInput" placeholder="Filter products by name" [(ngModel)]="name"
              (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Brand</mat-label>
            <input matInput data-test="productBrandInput" placeholder="Filter products by brand"
              [(ngModel)]="productBrand" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <!-- Selector/Tree Container -->
        <div fxLayout="row wrap" fxLayoutGap="15px">
          <mat-form-field class="input-field">
            <mat-label>Store</mat-label>
            <mat-select (selectionChange)="getProductsFromServer()" [(ngModel)]="productStore"
              data-test="productStoreSelect">
              <mat-option>--</mat-option>
              <mat-option value="Willies">Willies</mat-option>
              <mat-option value="Pomme de Terre">Pomme de Terre </mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="getProductsFromServer()" [(ngModel)]="productCategory"
              data-test="productCategorySelect">
              <mat-option>--</mat-option>
              <mat-option value="baked goods">Baked Goods</mat-option>
              <mat-option value="baking supplies">Baking Supplies</mat-option>
              <mat-option value="beverages">Beverages</mat-option>
              <mat-option value="cleaning products">Cleaning Products</mat-option>
              <mat-option value="dairy">Dairy</mat-option>
              <mat-option value="deli">Deli</mat-option>
              <mat-option value="frozen foods">Frozen Foods</mat-option>
              <mat-option value="herbs and spices">Herbs/Spices</mat-option>
              <mat-option value="meat">Meat</mat-option>
              <mat-option value="miscellaneous">Miscellaneous</mat-option>
              <mat-option value="paper products">Paper Products</mat-option>
              <mat-option value="pet supplies">Pet Supplies</mat-option>
              <mat-option value="produce">Produce</mat-option>
              <mat-option value="staples">Staples</mat-option>
              <mat-option value="toiletries">Toiletries</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <br>

        <!-- Product Limit Container -->
        <!-- <div fxLayout="row wrap" fxLayoutGap="10px" class="limitContainer">
          <mat-form-field class="input-field">
            <mat-label>Limit</mat-label>
            <mat-select (selectionChange)="updateFilter()" [(ngModel)]="productLimit" data-test="productLimitSelect">
              <mat-option>--</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="10000">ALL</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </mat-card-content>

      <!-- Add Product Button -->
      <button mat-fab class="add-product-fab" matTooltip="Add Product" matTooltipPosition="left"
        routerLink="/products/new" data-test="addProductButton">
        <mat-icon class="md-24" aria-label="Add Product">add</mat-icon>
      </button>

    </mat-card>

  </div>
</div>

<!-- Product List ('Bottom' Content) -->
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredProducts; else productsError"
    style="width: 90%;">
    <mat-card *ngIf="activeFilters" class="conditional-product-list">
      <mat-card-content>
        <mat-nav-list class="filtered-product-nav-list">
          <span fxLayout="row" *ngFor="let product of this.filteredProducts">
            <a mat-list-item [routerLink]="['/products', product._id]" class="filtered-product-list-item">
              <p matLine class="product-list-name"> {{product.product_name}} </p>
              <p matLine class="product-list-brand"> {{product.brand}} </p>
              <p matLine class="product-list-category"> {{product.category}} </p>
              <p matLine class="product-list-store"> {{product.store}} </p>
              <mat-divider></mat-divider>
            </a>
            <div class="deleteContainer" style="position: absolute;">
              <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                data-test="deleteProductButton">
                <mat-icon aria-label="Delete Product">close</mat-icon>
              </button>
              <!-- Dialog Template -->
              <ng-template #dialogRef let-mydata>
                <h1 mat-dialog-title>Delete Product?</h1>
                <div mat-dialog-content>
                  <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                </div>
                <div mat-dialog-actions>
                  <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                </div>
              </ng-template>
            </div>
          </span>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

    <!-- All Products separated into categories and listed in dropdowns -->
    <mat-card class="expansion-product-panels">
      <mat-card-content>
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="baked-goods-product-expansion-panel">
              <mat-panel-title>
                Baked Goods ({{this.bakedGoodsProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="baked-goods-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.bakedGoodsProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="Produce-supplies-product-expansion-panel">
              <mat-panel-title>
                Produce ({{this.produceProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="Produce-supplies-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.produceProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="meat-product-expansion-panel">
              <mat-panel-title>
                Meat ({{this.meatProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="meat-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.meatProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="dairy-supplies-product-expansion-panel">
              <mat-panel-title>
                Dairy ({{this.dairyProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="dairy-supplies-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.dairyProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="frozen-foods-product-expansion-panel">
              <mat-panel-title>
                Frozen Foods ({{this.frozenProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="frozen-foods-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.frozenProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="paper-products-product-expansion-panel">
              <mat-panel-title>
                Paper Products ({{this.paperProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="paper-products-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.paperProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="beverages-product-expansion-panel">
              <mat-panel-title>
                Beverages ({{this.beverageProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="beverages-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.beverageProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="pet-supplies-product-expansion-panel">
              <mat-panel-title>
                Pet Supplies ({{this.petSuppliesProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="pet-supplies-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.petSuppliesProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="deli-product-expansion-panel">
              <mat-panel-title>
                Deli ({{this.deliProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="deli-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.deliProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)"
                        class="finalDeleteProductButton">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial
                        class="cancelDeleteProductButton">Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="miscellaneous-product-expansion-panel">
              <mat-panel-title>
                Miscellaneous Goods ({{this.miscellaneousProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="miscellaneous-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.miscellaneousProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="herbs-product-expansion-panel">
              <mat-panel-title>
                Herbs and Spices ({{this.herbProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="herbs-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.herbProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="baking-supplies-supplies-product-expansion-panel">
              <mat-panel-title>
                Baking Supplies ({{this.bakingSuppliesProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="baking-supplies-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.bakingSuppliesProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="toiletries-product-expansion-panel">
              <mat-panel-title>
                Toiletries ({{this.toiletriesProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="toiletries-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.toiletriesProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="staple-product-expansion-panel">
              <mat-panel-title>
                Staples ({{this.stapleProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="staple-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.stapleProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="cleaning-products-product-expansion-panel">
              <mat-panel-title>
                Cleaning Products ({{this.cleaningProducts.length}})
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list class="toiletries-product-nav-list">
              <span fxLayout="row" *ngFor="let product of this.cleaningProducts">
                <a mat-list-item [routerLink]="['/products', product._id]" class="product-list-item">
                  <p matLine class="product-list-name"> {{product.product_name}} </p>
                  <p matLine class="product-list-brand"> {{product.brand}} </p>
                  <p matLine class="product-list-category"> {{product.category}} </p>
                  <p matLine class="product-list-store"> {{product.store}} </p>
                  <mat-divider></mat-divider>
                </a>
                <div class="deleteContainer" style="position: absolute;">
                  <button mat-icon-button class="delete-product-button" matTooltip="Delete Product"
                    matTooltipPosition="left" (click)="openDeleteDialog(product.product_name, product._id)"
                    data-test="deleteProductButton">
                    <mat-icon aria-label="Delete Product">close</mat-icon>
                  </button>
                  <!-- Dialog Template -->
                  <ng-template #dialogRef let-mydata>
                    <h1 mat-dialog-title>Delete Product?</h1>
                    <div mat-dialog-content>
                      <h4>Are you sure you want to delete <i>{{tempName}}</i>? This action cannot be undone</h4>
                    </div>
                    <div mat-dialog-actions>
                      <button mat-button color="warn" (click)="removeProduct(tempId)">Delete</button>
                      <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                    </div>
                  </ng-template>
                </div>
              </span>
            </mat-nav-list>
          </mat-expansion-panel>

        </mat-accordion>

        <!-- <mat-nav-list class="product-nav-list">
          <h3 mat-subheader>Product List</h3>
          <a mat-list-item *ngFor="let product of this.filteredProducts" [routerLink]="['/products', product._id]" class="product-list-item">
            <h3 matLine class="product-list-name"> {{product.product_name}} </h3>
            <p matLine class="product-list-category"> {{product.category}} </p>
            <p matLine class="product-list-brand"> {{product.brand}} </p>
            <mat-divider></mat-divider>
          </a>
        </mat-nav-list> -->
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #productsError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="product-error">
      <mat-error>
        There was a problem loading the products. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again.
      </mat-error>
    </div>
  </ng-template>

</div>
