.search-card {
  margin-bottom: 10px;
  padding: 16px 16px 16px 16px;
}

.limitContainer {
  display: flex;
  justify-content: flex-end;
}

.add-product-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.conditional-product-list {
  margin-bottom: 10px;
}

span {
  text-align: left;
  justify-content: right;
  align-items: right;
}

.delete-product-button {
  color: red;
}

.delete-product-button:hover {
  color: lightsalmon;
}
