<div class="content">
  <form [formGroup]="addToShoppingListForm" (ngSubmit)="submitForm();">
    <mat-card class="add-to-shopping-list-card">
      <mat-card-content fxLayout="column">
        <mat-label>Quantity</mat-label>
        <mat-form-field>
          <input matInput type="number" placeholder="Quantity" formControlName="quantity"
                required>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-button
          type="button"
          color="primary"
          type="submit"
          data-test="confirmAddProductToPantryButton"
        >
          Add Product To Shopping List
        </button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>
